Source: ros-jade-canopen-motor-node
Section: misc
Priority: extra
Maintainer: Mathias Lüdtke <mathias.luedtke@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), libmuparser-dev, ros-jade-canopen-402, ros-jade-canopen-chain-node, ros-jade-catkin, ros-jade-controller-manager, ros-jade-controller-manager-msgs, ros-jade-filters, ros-jade-hardware-interface, ros-jade-joint-limits-interface, ros-jade-urdf
Homepage: http://wiki.ros.org/canopen_motor_node
Standards-Version: 3.9.2

Package: ros-jade-canopen-motor-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmuparser-dev, ros-jade-canopen-402, ros-jade-canopen-chain-node, ros-jade-controller-manager, ros-jade-controller-manager-msgs, ros-jade-filters, ros-jade-hardware-interface, ros-jade-joint-limits-interface, ros-jade-urdf
Description: This package extends the canopen_chain_node with specialized handling for canopen_402 devices.
 It facilitates interface abstraction with ros_control.
