Source: ros-noetic-canopen-master
Section: misc
Priority: optional
Maintainer: Mathias Lüdtke <mathias.luedtke@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-noetic-catkin, ros-noetic-class-loader, ros-noetic-rosunit, ros-noetic-socketcan-interface
Homepage: http://wiki.ros.org/canopen_master
Standards-Version: 3.9.2

Package: ros-noetic-canopen-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-noetic-class-loader, ros-noetic-socketcan-interface
Description: CiA(r) CANopen 301 master implementation with support for interprocess master synchronisation.
